@import './_variables.scss';

.header-container{
    text-align: center;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color:$base;
    background: linear-gradient(180deg, rgba(38,50,118,0.60) 0%, rgba(38,50,118,0.00) 59%), url('../assets/img/mountain.svg');
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    background-size: cover;

    .header-text {
        grid-column: 2/3;
        grid-row: 2/3;

    }

    h1 {
        font-size: 40px;
        font-weight: $black;
        letter-spacing: 5px;
       
    }

    p {
        font-size: 14px;
        font-weight:$regular;
        line-height: 20px;
        margin-top: 20px;
    }
}




